 @import url('https://smc.org.in/fonts/uroob.css');

 #heading {
   font-family: 'Uroob', sans-serif;
   font-size: 35px;
 }

 #data {
   font-family: 'Uroob', sans-serif;
   font-size: 25px;
 }

 /* *{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
} */
 /*
span{
  font-family: "Merriweather", serif;
}
.footer{
  position: fixed;
  bottom: 0;
}
#heading{
  font-family: 'Uroob', sans-serif;
  font-size: 35px;
} 
#data{
  font-family: 'Uroob', sans-serif;
  font-size: 25px;
} */
 /* h1,h4{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.navlinks,p{
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
} */
 /* .navlinks{
  color: yellow;
}
.navlinks:hover{
color: red;
} */
 /* #data{
  font-family: 'Uroob', sans-serif;
  font-optical-sizing: auto;
  font-size: 25px;
  font-style: normal;
}
#a{
  color: rgb(48, 99, 174);
}
#a:hover{
  color: rgb(242, 181, 13);
}
#heading{
  font-family: 'Uroob', sans-serif;
  font-size: 35px;
} */
 /*  #ffe6e6
 */